// Variables
$gray: #ccc;
$lightgray: #eee;

$system-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

// Base styles
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: $system-font;
}

.wrapper {
  padding: 0.5rem;
}

// Email client styles
.email-client {
  border: 1px solid $gray;
  display: flex;
  height: calc(100vh - 2rem);
}

.email-list-container {
  border-right: 1px solid $gray;
  flex: 1;
}

.email-show-container {
  flex: 3;
}

.email-header {
  margin: 0;
  padding: 0.5rem;
}

.email-list {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

.email-item {
  background: none;
  border: none;
  border-bottom: 1px solid $lightgray;
  cursor: pointer;
  display: block;
  font: inherit;
  padding: 0.25rem 0.5rem;
  text-align: left;
  width: 100%;

  p {
    margin: 0.2rem 0;
  }

  .email-subject {
    font-weight: bold;
  }
}

.sender-details {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
