// Variables
$gray: #ccc;
$lightgray: #eee;
$thread_list_bg: #F0F3F6;
$thread_list_divider: #D9DEE3;
$thread_list_divider_horizonal: #E1E5EA;
$white: #ffffff;
$thread_snippet: #8B939F;
$thread_subject: #262A2D;
$thread_sender: #626568;

$system-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

// Base styles
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: $system-font;
}

.wrapper {
}

// Email client styles
.email-client {
  // border: 1px solid $gray;
  display: flex;
  height: 100vh;
}

.email-list-container {
  border-right: 1px solid $thread_list_divider;
  flex: 2;
  overflow-y: scroll;
  background: $thread_list_bg;
  line-height: 1.3rem;
}

.email-show-container {
  flex: 5;
}

.email-header {
  margin: 0;
  padding: 1.2rem 1.2rem;
  background: $thread_list_bg;
  border-right: 1px solid $thread_list_divider;
  border-bottom: 1px solid $thread_list_divider_horizonal;
  position: absolute;
  z-index: 999;
  width: 28.57%;
}
.email-header2 {
  margin: 0;
  padding: 1.2rem 1.2rem;
  background: $white;
  border-bottom: 1px solid $thread_list_divider_horizonal;
  position: absolute;
  z-index: 999;
  width: 71.4%;
}

.email-list {
  list-style-type: none;
  margin-top: 3rem;
  padding-left: 0;
}

.email-item {
  background: none;
  border: none;
  border-bottom: 1px solid $thread_list_divider_horizonal;
  cursor: pointer;
  display: block;
  font: inherit;
  padding: 1.2rem 1.2rem;
  text-align: left;
  width: 100%;

  p {
    margin: 0.2rem 0;
  }

  .email-subject {
    color: $thread_subject;
  }
  .email-snippet {
    color: $thread_snippet;
    font-size: 0.9rem;
    margin-top: 0.5rem;
  }
}

.sender-details {
  align-items: center;
  display: flex;
  justify-content: space-between;
  color: $thread_sender;
  font-size: 0.9rem;
  span {
    font-size: 0.8rem;
    opacity: 0.7;
  }
}
